*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Regular;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
    
 
  }
  @font-face{
    font-family:light ;
    src: url(../fonts/TitilliumWeb-Light.ttf);
  }
  @font-face{
    font-family: bold;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
  }
  @font-face{
    font-family: extraLight;
    src: url(../fonts/TitilliumWeb-ExtraLight.ttf);
  }


  body{
      font-family: 'Regular';
      overflow-x: hidden;
      color: white;
      background-color: #222222;
  }

  $maingreen:#BAC964;

  $darkgray: #9e9c9c;

  #navbar{
    .wrapper{
        margin: 0 auto;
        width: 100vw;
        height: 13vh;
        padding-top: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: transparent;
        position: fixed;
        color: white;
        z-index: 1000;
        transition: 0.3s;
                .navItem{

                    margin: 0 1.5vw;
                }
    }

    .sticky{
        color: black;
        background-color: white;
        padding-top: 0;
        transition: 0.6s;
    }

    
    .main-image{
        background: url(../assets/gif.gif) no-repeat;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/gif.gif') no-repeat;
       
        height: 100vh;
        background-size: cover;
        background-position: center;
        

}

    .who{
        position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    .hello{
        font-family: 'light';
        font-size: 70px;
    }
    .name{
        font-family:'bold' ;
        font-size: 75px;
    }
    .rezume{
        font-family: 'light';
        font-size: 30px;
        color: #bdbdbd;
    }
    }



    }










    #my-rezume{
        height: 106vh;
        
    background-color: #222222;


        .title{
            font-weight: normal;
            color: white;
            text-align: center;
    padding-top: 17vh;
    font-size: 35px;
    font-family: 'extraLight';
    span{
        font-family: 'bold';
    }

        }
 .wrapper{
   
        width: 76vw;
        margin: 0 auto;
        height: 114vh;
        margin-top: 11vh;
        display: flex;

            .education{
                flex: 0.5;
                font-family: 'extraLight';
            }


            .exp{
                flex: 0.5;
                font-family: 'extraLight';
            }

            .cart{
                width: 31vw;
    height: 29vh;
    background: #333333;
    border-radius: 5px;
    margin-top: 10vh;
    padding: 5vh;



    .titleCart{
        font-family: 'extraLight';
        color: $maingreen;
    }
    .descr{
        font-family: 'extraLight';
        color:$darkgray;
        margin: 3vh 0;
    }
    .place{
        font-family: 'extraLight';
        color: $darkgray;
        margin-top: 3vh;;
        font-size: 16px;
    }

     svg{
         margin-right: 2vh;
         width: 17px;
     }

     .date{
         display: flex;
         margin-bottom: 2vh;
         h3{
             font-size: 14px;
             padding-top: 0.3vh;
         }
     }
            }

    
 }



    }








    #about-me{
        margin-top: 11vh;
        .container{
            display: flex;
    margin: auto 14vw;
    width: 81%;
    
    align-items: end;
    justify-content: space-between;
    margin-bottom: 24vh;
    align-items: center;
}




.img{
    background: url(../assets/face.jpeg) no-repeat;
    width: 38vw;
    height: 61vh;
    background-position: center;
    background-size: cover;
}

.info{
    max-width: 39vw;

    .title{
        font-weight: normal;
        font-family: 'extraLight';
        margin-bottom: 6vh;
        font-size: 40px;
        span{
            font-family: 'bold';
        }
    }


    p{
        color: $darkgray;
        margin: 5vh 0;
    }



    .buttons{
        font-family: 'light'; 


        .Hire-Me{
            
            color: white;
            text-transform: uppercase;
            padding: 0.5rem 1.6rem;
            border-radius: 30px;
            background-color: $maingreen;
            letter-spacing: 4px;
            margin-right: 1vw;
            cursor: pointer;
            
            }



        .CV{
            color: white;
            text-transform: uppercase;
            padding: 0.5rem 1.6rem;
            border-radius: 30px;
            background-color: $darkgray;
            letter-spacing: 4px;
            
            cursor: pointer;
            text-decoration: none;


        }
        .CV:hover{
            background-color: #8a8686;
        }
        .Hire-Me:hover{
            background-color:#85962f ;
        }
        
    }
}



        }


        #services{

           

            .title{
                font-family: 'extraLight';
                font-weight: normal;
                text-align: center;
    font-size: 34px;
    span{
        font-family: 'bold';

    }
            }

            .wrapper{
                height: 80vh;
             
                width: 69vw;
                margin: 0 auto;
                margin-top: 15vh;
                display: flex;
                justify-content: space-between;
                
            }

            .serve{
                width: 22vw;
                height: 65vh;
                background-color: #333333;
                border-radius: 9px;
                display: flex;
                align-items: center;
                flex-flow: column;

                p{
                    text-align: center;
                     margin-top: 4vh;
                     color: $darkgray;
                     font-family: 'light';
                }

                h1{
                    margin: 3vh 0;
                    font-family: 'extraLight';

                }
                 
                img{
                    margin-top: 4vh;
                    width: 22%;
                    height: 11%;
                    background-color: $maingreen;
                    padding: 1.8rem 1rem;
                    border-radius: 50%;
                    
                }
            }

            .serve:hover{
                height: 60vh;
                transition: 0.8s;
            }

        }
        




        #getInTouch{

            .container{
                display: flex;
                width: 70vw;
                margin: 0 auto;
            }


        .main-title{
            font-weight: normal;
            font-family: 'extraLight';
            text-align: center;
            margin: 19vh 0;
            font-size: 36px;
            span{font-family: 'bold';}
            
        }

        


        .form{
            flex: 0.8;
            display: flex;
            flex-flow: column;
            .title{margin-bottom: 7vh;}
        }

        form{


            display: flex;
    flex-flow: column;

    a{
        text-decoration: none;
    background-color: $maingreen;
    width: 20%;
    padding: 14px;
    border-radius: 30px;
    color: white;
    margin-top: 6vh;
    letter-spacing: 2px;
    }

    input[type=text],input[type=email],input[type=number]{
        color: white;
        width: 93%;
  padding: 12px 20px;
  margin: 1vh 0;
  display: inline-block;
  border: 1px solid #333333;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  background-color: #333333;
  height: 7.5vh;
    }
    ::placeholder {
        font-family: 'light';
      
        
      }

      textarea , select{
          margin-top: 1vh;
          width: 86%;
          color: white;
          outline: none;
          background-color: #333333;
          border: 1px solid #333333;
          border-radius: 4px;
          resize: vertical;
          padding: 1.5rem;
          overflow: auto;
      }
        }
        








        

    }

    #getInTouch{
        .details{
            .wrapper{
                .title{margin-bottom: 7vh;}
                .innerWrapper{
                    
                    .subTilte{
                        color: #456686;
                        font-family: 'extraLight';
                        font-size: 15px;
                        margin: 2vh 0;
                    }
                    .info{
                        color: #747171;
                        font-family: 'extraLight';
                    }
                }
            }
        }
}
        
      



    
    

  #social{

    .wrapper{
        width: 18vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 21vh;
    margin-bottom: 9vh;
    }
a{padding: 16px;
    background: #333333;
    border-radius: 50%;}
    img{
        width: 48px;
    height: 36px;
    svg{
        fill: $maingreen;
        
    }
    
    }
  }